<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css" type="text/css"/>
	<link href="https://fonts.googleapis.com/css?family=Beth+Ellen|Bree+Serif|Indie+Flower|Teko&display=swap"
		rel="stylesheet">
	<title>The NEWS Scrapper</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <img src="images/news.jpg" width="1300" height="100" alt="World News Icon">
    </nav>
	<br>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-4">
				<form action="/scrape">
                    <a class="btn btn-info btn-lg" href="/scrape" role="button">Latest News</a>
				</form>
			</div>
			<div class="col-4">
				<form action="/scrape2">
                    <a class="btn btn-info btn-lg" href="/scrape2" role="button">Tech News</a>
				</form>
			</div>
			<div class="col-4">
				<form action="/scrape3">
                    <a class="btn btn-info btn-lg" href="/scrape3" role="button">Trending Now</a>
				</form>
			</div>
		</div>
	</div>
	{{{ body }}}
    <nav class="navbar navbar-dark bg-dark">
		<span class="text-center">nehagupta2507</span>
    </nav>
</body>
</html>